html{
  min-width: fit-content;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans',sans-serif;
}
body{
  background-color: #cfab72;
  margin: 0;

}
header{
    height: 30px;
    text-align: center;
    color:#ddbd7f;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    align-items: center;
    padding-top: 2px;
    background-color: #99582a;
}
#logo{
    height: 70px;
    margin-left: 30px;
    background-color: #99582a;
}
.nav{
    display: flex;
    background-color: #99582a;
    position: sticky;
    height: 70px;
}
.nav__list{
    background-color: #99582a;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    max-width: 1300px;
    align-items: center;
    margin: 0 auto;
    padding:0 50px;
}
.nav__listlogo{
    background-color: #99582a;
    color: #432818; 
    display: flex;
    height: 70px;
    list-style: none;
    align-items: center;
    margin-right: auto;
    padding:25px 0px;
    cursor: pointer;
    font-family:'Gill Sans';
    font-weight: bold;
    font-size: 25px;
}
.nav__listitem{
    display: flex;
    color:#432818;
    background-color: #99582a;
    list-style: none;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    position: sticky;
    font-family:'Gill Sans';
    font-size: 25px;
    cursor: pointer;
    height: 70px;
    padding:25px 18px;
  }
  .nav__listitem:hover{
    color: #ffe6a7;
  }
  .nav a{
    background-color:#99582a;
    float: left;
    font-family:'Gill Sans';
    font-size: 25px;
    color: #432818;
    text-align: center;
    font-weight: bold;
    position: sticky;
    text-decoration: none;
  }
  .nav a:hover{
    color: #ffe6a7;
  }
  .nav__listitemdrop a:hover{
    color: #ffe6a7;
  }
  .nav__listitem:hover ul{
    opacity: 1;
    visibility: visible;  
  }
  .nav__listitemdrop{
    position: absolute;
    background-color:#99582a;
    color: #432818;
    list-style: none;
    top:70px;
    left: -16px;
    padding:12px 16px;
    display: flex;
    flex-direction: column;
    background-color: inherit;
    font-family: inherit; 
    opacity: 0;
    visibility: hidden;
    min-width: 160px;
  }
  .nav__listitemdrop a{
    background-color:#99582a;
    float: none;
    color: #432818;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  main section:nth-child(1) {
    background-image: url(pictures/restaurant_23-2148014999.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
  }
main section:nth-child(1) button{
  text-decoration: none;
  display: flex;
  background: #ffb805;

  border: none;
  margin-top: 50px;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px;
}
  
 h1 {
  color: #fff;
  background-color: #0000009c;
  border-radius: 20px;
  font-size: 35px;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  }
  
  main section:nth-child(1) span{
    color: #ffb805;
  }
/*   
button{
    text-decoration: none;
    display: flex;
    background: #ffb805;
    border:none;
    margin-top:50px;
    font-weight: bold;
  } */
button a{
    text-decoration: none;
    color:black;
    font-size:22px;
    padding:10px;
  }
  button a:hover{
    color:#637e92;
  }
article{
  padding-top: 5px;
  width: 33%;
  padding: 10px;
  float: left;
  margin-top: 10px;
}

article .item-box{
  font-size: 20px;
  background: #99582a;
  font-family: 'Gill Sans';
  color: #ddbd7f;
  text-align: center;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
  
h3{
  text-align:center;
  font-size: 23px;
  color:#ffe6a7;
  padding-bottom: 15px ;
}
footer{
  margin-top: 5px;
  background-color: #99582a91;
}
footer .footer-body {
  max-width: 1400px;
  padding: 10px;
  display: flex;
  margin: auto;
  align-items: center;
}
.footer__text{
  text-align:  center;
  font-size: 25px;
  color: #432818;
  padding:45px 2px;
  margin-left: 20px;
  text-decoration:  #ffb8056f underline;
}
.footer__images{
  padding-top: 5px;
  display: flex;
  float: right;
}
.footer__Image{
  width: auto;
  height: 80px;
  margin-left: 100px;
}
main section:not(:nth-child(1)){
  max-width: 1400px;
  margin: auto;
  overflow: auto;
}
@media only screen and (min-width:1024px){
  article .item-box {
    min-height: 280px;
    padding: 20px;
}
.footer__Image {
  margin-left: 70px;
}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
article .item-box {
  min-height: 380px;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
}
.footer__text {
  text-align: center;
  font-size: 22px;
  color: #432818;
  padding: 45px 10px;
  margin-left: 10px;
  text-decoration: #ffb8056f underline;
}
.footer__Image {
  width: auto;
  height: 100px;
  margin-left: 15px;
  margin-right: 0px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
header {
  text-align: center;
  color: #ddbd7f;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  padding-top: 2px;
  background-color: #99582a;
}
.nav__listitem {
  display: flex;
  color: #432818;
  background-color: #99582a;
  list-style: none;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  position: sticky;
  font-family: 'Gill Sans';
  font-size: 20px;
  cursor: pointer;
  height: 70px;
  padding: 10px 10px;
}
.nav__list {
  background-color: #99582a;
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  max-width: 1300px;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
}
.nav a{
  font-size: 20px;
}
article{
  width: 100%;
}
h1{
  font-size: 25px;
}
article .item-box {
  font-size: 19px;
  background: #99582a;
  font-family: 'Gill Sans';
  color: #ddbd7f;
  text-align: center;
  min-height: 90px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: inherit;
}
.footer__text {
  text-align: justify;
  font-size: 15px;
  color: #432818;
  padding: 5px 0px;
  margin-left: 0px;
  text-decoration: #ffb8056f underline;
}
.footer__Image {
  width: auto;
  height: 80px;
  margin-left: 15px;
}
}
@media only screen and (max-width: 479px) {
article {
  padding-top: 5px;
  width: 100%;
  padding: 5px;
  float: left;
  margin-top: 8px;
}
h1 {
  color: #fff;
  background-color: #0000009c;
  border-radius: 20px;
  font-size: 23px;
  text-align: center;
  margin-top: 20px;
  padding: 15px;
}
.nav__listitem {
  font-size: 18px;
  padding: 5px 3px;
  height: 0px;
}
#logo{
  margin-left: 10px;
  height: 40px;
}
.nav__list {
  padding: 0 20px;
  height: 20px;
  background-color: #99582a;
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  max-width: 1300px;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
}
.nav a{
  font-size: 18px;
}
.nav{
  height: 60px;
}
.nav__listlogo{
   margin-top: 30px;
      background-color: #99582a;
    color: #432818;
    display: flex;
    height: 40px;
    list-style: none;
    align-items: center;
    margin-right: auto;
    padding:  0px;
    cursor: pointer;
    font-family: 'Gill Sans';
    font-weight: bold;
    font-size: 25px;
}
header {
  height: 20px;
  font-size: 15px;
}
h3{
  padding-bottom: 10px;
}
.footer__text {
  text-align: left;
  font-size: 19px;
  color: #432818;
  padding: 2px 2px;
  margin-left: 0px;
  text-decoration: #ffb8056f underline;
}
footer .footer-body {
  max-width: 1400px;
  padding: 10px;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: flex-end;
}
.footer__Image{
  margin-left: 50px;
}
}